<div class="container">
    <div class="row">
      <div class="col-md-12">
       <div class="car">
         <div class="singleCar-body" style="width: 18rem;">
            <img src="<%=cars.image%>" class="card-img-top" alt="...">
           <h5 class="Cars title">
                <p><%= cars.modele %></p>
                <p><%= cars.construteur %></p>
                <p><%= cars.annee %></p>
                <p><%= cars.prix %></p>
             </h5>
           <a href="#" class="btn btn-primary">Go somewhere</a>
         </div>
     </div>
      </div>
    </div>
   </div>